name: Documentation

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  documentation:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install package
        run: pip install . mkapi markdown-exec[ansi]
      - name: Deploy documentation
        run: mkdocs gh-deploy --force
